altgraph==0.17.4
anyio==4.2.0
bidict==0.23.1
blinker==1.7.0
bottle==0.12.25
cachelib==0.12.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
clr-loader==0.2.6
colorama==0.4.6
decorator==5.1.1
exceptiongroup==1.2.0
fake-useragent==1.4.0
Flask==3.0.2
Flask-Cors==4.0.0
Flask-Session==0.6.0
Flask-SocketIO==5.3.6
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
idna==3.6
imageio==2.36.1
imageio-ffmpeg==0.5.1
itsdangerous==2.1.2
Jinja2==3.1.3
MarkupSafe==2.1.5
moviepy==2.1.1
numpy==2.2.1
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
proglog==0.1.10
proxy_tools==0.1.0
pycparser==2.21
pyinstaller==6.4.0
pyinstaller-hooks-contrib==2024.2
python-dotenv==1.0.1
python-engineio==4.9.0
python-socketio==5.11.1
pythonnet==3.0.3
pytz==2025.1
pywebview==5.0.4
pywin32-ctypes==0.2.2
requests==2.31.0
schedule==1.2.2
scheduling==0.0.2
setuptools==75.6.0
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
tqdm==4.67.1
typing_extensions==4.9.0
tzlocal==5.2
urllib3==2.2.0
Werkzeug==3.0.1
wsproto==1.2.0